<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689981005654-cc8pvsdtegsq5eg7h8e6v5e0nnr7mrt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689981005654-cc8pvsdtegsq5eg7h8e6v5e0nnr7mrt5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>689981005654-53e7boj5atu2f3ekt70qt4a0q84hpiuc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6t-KGODPdXITDVDSzN1xqRSLX7PIzgyk</string>
	<key>GCM_SENDER_ID</key>
	<string>689981005654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.cocus.my</string>
	<key>PROJECT_ID</key>
	<string>cocus-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>cocus-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689981005654:ios:30745f6294e165ba7340f7</string>
</dict>
</plist>